h1 {
    color: purple;
    text-decoration: underline red solid 7px;
}

#header1 {
    color: green;
}
.parent {
    border: 4px solid red;
}
.child {
    width: 50%;
    padding: 20px;
    border: 4px solid green;
    margin: auto;
}